streamlit
streamlit_chat

langsmith

langchain_community
langchain_text_splitters
langchain_core
langchain

langchain_openai
langchain_groq

faiss-cpu
huggingface_hub
transformers

unstructured
tiktoken
